body {
  background: url('/static/background_image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  }
  body h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px; }
  body .form-control-feedback {
    display: none; }
  body .has-feedback.has-success .feedback-success, body .has-feedback.has-error .feedback-error {
    display: block; }
  body .form-group > label + .help-block {
    margin-top: -5px;
    margin-bottom: 5px; }
  body .btn {
    width: 100%;
    height: 60px;
    background-color: #F6A623;
    border-radius: 2px;
    margin-top: 30px; }
  body .form-control {
    border-radius: 2px;
    height: 50px; }

a {
  color: #00B7FF;
}

footer {
    text-align: center;
}


.tooltip-inner {
    background: none;

}

img.signTooltip {
    width: 30px; height: 30px;
    display: none;
}

nav.displayMode img {
width: 40px; height: 40px;
cursor: pointer;
}