.form-control-feedback {
    display: none;
}

.has-feedback {
&.has-success .feedback-success,
&.has-error .feedback-error {
     display: block;
 }
}

.form-group > label + .help-block {
    margin-top: -5px;
    margin-bottom: 5px;
}
