{% extends "base.html" %}
{% block title %}Find a TravelBuddy!{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_filter.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Where would you like to travel?</h1>
        </div>
    </div>
    <form onsubmit="return false;">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="travel-departure">From</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="search" class="form-control" id="travel-departure">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="travel-destination">To</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="search" class="form-control" id="travel-destination">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="departure-date">Departure date</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="date" class="form-control" id="departure-date">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="return-date">Return date</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="date" class="form-control" id="return-date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="need-help">Need help with</label>
                        <input type="search" class="form-control" id="need-help">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-9 col-xs-3">
                    <input class="btn btn-default" type="submit" value="Search">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

