<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_filter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
</head>
<body id="main-filter">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Travbuddy</h1>
        </div>
    </div>
    <form onsubit="return false;">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="travel-departure">From</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="search" class="form-control" id="travel-departure">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="travel-destination">To</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="search" class="form-control" id="travel-destination">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="departure-date">Departure date</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="date" class="form-control" id="departure-date">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="return-date">Return date</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="date" class="form-control" id="return-date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="need-help">Need help with</label>
                        <input type="search" class="form-control" id="need-help">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-9 col-xs-3">
                    <input class="btn btn-default" type="submit" value="Search">
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
</body>
</html>

